[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.1.2"
mlflow = "==1.29.0"
boto3 = "*"
flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
